body {
   background: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.page-title-large {
   color: #FFFFFF;
   font-family: Arial;
   font-size: 5em;
   text-align: center;
   text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
}
