body {
   background: url("http://www.psdgraphics.com/file/colorful-triangles-background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}

.gallery-featured {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
img {
   max-width: 100%;
   margin: 0;
   padding: 0;
   position: relative;
   left: 0;
}

.main-container {
   width:960px;
   position:absolute;
   top:0;
   left:0;
   right:0;
   text-align:center;
   vertical-align:top;
}
.colspan-3 {
   width: 33.33%;
   float: left;
}
.row {
   position:relative;
   max-width:100%;
   clear:both;
   top:0;
   left:0;
   right:0;
   vertical-align: top;
   overflow: hidden;
   margin: auto;
   padding: 0px 55px;
   text-align: center;

}

.page-title-large {
   color: #FFFFFF;
   font-family: Chivo;
   font-size: 5em;
   text-align: center;
   text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.75);
}
