.header-logo {
  width:100%;
  height:inherit;
}

.box-shadow {
	-webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.61);
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.61);
}

.header-top-top {
	position: absolute;
	z-index: 1000;
	background: #FFF;
	width: 100%;
	padding: 7px 0;
	max-height: 115px;
}
.header-top-top p {
	padding: 20px 0;
}
.red-bkgrnd {
	background-color: #ad1d28;
}
.red-bkgrnd p {
	color: #FFFFFF;
}

.heroShot {
  overflow: hidden;
  max-height:400px;
  margin-top: 80px;
}
.heroShot-mobile {
  overflow: hidden;
  display:none;
  max-height:600px;
}
.heroShot img {
	width: 100%;
	margin: 0px;
}
.heroShot-mobile img {
	width: 100%;
	display:none;
	margin: 0px;
}
  
.heroHeading {
	margin-top: -250px;
}
.heroHeading h1 {
  color: #FFF;
  text-align: left;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  font-weight:bold;
}

  
/* for small screen (tablet and phone) */
@media (max-width: 992px) { 
.heroHeading {
  margin-top: -190px;
}
.heroHeading h1 {
  color: #FFF;
  text-align: left;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  font-weight:bold;
}
.heroShot {
  display:none;
}
.heroShot img {
	display:none;
}
.heroShot-mobile {
  overflow: hidden;
  display:block;
}
.heroShot-mobile img {
	width: 100%;
	display:block;
}

.hidden-phone{ display:none;}

}




