#crumbs ul li a {
	display: block;
	float: left;
	/* height: 50px; */
	background: #ad1d28;
	text-align: center;
	padding: 20px 40px 20px 40px;
	position: relative;
	margin: 0 10px 0 0; 
	
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}


.header-logo {
  width:100%;
  height:inherit;
}

.header-top-top p {
	padding: 20px 0;
}

.red-bkgrnd {
	background-color: #ad1d28;
}
.red-bkgrnd p {
	color: #FFFFFF;
}

.heroShot {
  overflow: hidden;
  max-height: 400px;
}
  
.summer-camp-splash h5 {
	color:#FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
}
  
.heroShot img {
	width: 100%;
}

.heroShot-mobile {
  overflow: hidden;
  max-height: 600px;
  display:none;
}
  
.heroShot-mobile img {
	width: 100%;
	display:none;
}
  
.heroHeading {
	margin-top: -250px;
  padding: 0px;
}

.heroHeading h1 {
  color: #FFF;
  text-align: left;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  font-weight:bold;
}

  
/* for small screen (tablet and phone) */
@media (max-width: 992px) { 
.heroHeading {
  margin-top: -190px;
  padding: 0px;
}

.heroHeading h1 {
  color: #FFF;
  text-align: left;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.75);
  font-weight:bold;
  font-size: 28px;
}


.heroShot {
  overflow: hidden;
  max-height: 400px;
  display:none;
}
  
.heroShot img {
	width: 100%;
	display:none;
}

.heroShot-mobile {
  overflow: hidden;
  max-height: 600px;
  display:block;
}
  
.heroShot-mobile img {
	width: 100%;
	display:block;
}


.hidden-phone{ display:none;}
.heroShot img {margin-top: 60px;}
}




